#Ignore all files listed below
.vs/
*.sln
*.vcxproj*
ClassProjectOct.db.c
x64/

# Ignore other files if needed
*.tmp
*.log

# Include only the specific files
!main.cpp
!forAllDynamic.hpp
!dynamicArray.cpp
